<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="5" android:versionName="1.1.2" package="com.app.android.sok4">
	<uses-sdk android:minSdkVersion="7" />
	<supports-screens
		android:anyDensity="true" android:resizeable="true" android:smallScreens="true" android:largeScreens="true" android:normalScreens="true"/>
					
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="MainList" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="SongBoard"></activity>

		<activity android:name="com.app.android.sok4.MySearch" android:label="Search">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

</application>	
</manifest> 